// Background

.bg {
  // Bg colors
  &-c10 {
    background-color: $color10 !important;
  }
  &-c10-5 {
    background-color: $color11 !important;
  }
  &-c11 {
    background-color: $color11 !important;
  }
  &-c11-5 {
    background-color: $color11 !important;
  }
  &-c11-8 {
    background-color: $color12 !important;
  }
  &-c12 {
    background-color: $color12 !important;
  }
  &-c14 {
    background-color: $color15 !important;
  }
  &-c15 {
    background-color: $color15 !important;
  }
  &-c16 {
    background-color: $color17 !important;
  }
  &-c18 {
    background-color: $color18 !important;
  }
  &-c19 {
    background-color: $color19 !important;
  }
  &-c20 {
    background-color: $color20 !important;
  }
  &-c30 {
    background-color: $color30 !important;
  }
  &-c32 {
    background-color: $color30 !important;
  }
  &-c35 {
    background-color: $color30 !important;
  }
  &-c40 {
    background-color: $color12 !important;
  }
  &-c42 {
    background-color: $color15 !important;
  }
  &-c45 {
    background-color: $color15 !important;
  }
  &-c50 {
    background-color: $color19 !important;
  }

  // Cover
  &-cover,
  &-cover-before:before,
  &-cover-after:after {
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
  }

  // Contain
  &-contain,
  &-contain-before:before,
  &-contain-after:after {
    background-size: contain !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
  }

  // Align top
  &-align-top,
  &-align-top-before:before,
  &-align-top-after:after {
    background-position: center top !important;
  }

  // Align right
  &-align-right,
  &-align-right-before:before,
  &-align-right-after:after {
    background-position: center right !important;
  }

  // Align bottom
  &-align-bottom,
  &-align-bottom-before:before,
  &-align-bottom-after:after {
    background-position: center bottom !important;
  }

  // Align left
  &-align-left,
  &-align-left-before:before,
  &-align-left-after:after {
    background-position: center left !important;
  }

  &-noshadow {
    box-shadow: none !important;
  }
}
