// Font
.f {
  &-c10 {
    color: $color10 !important;
  }
  &-c10-5 {
    color: $color11 !important;
  }
  &-c11 {
    color: $color11 !important;
  }
  &-c11-5 {
    color: $color11 !important;
  }
  &-c11-8 {
    color: $color12 !important;
  }
  &-c12 {
    color: $color12 !important;
  }
  &-c14 {
    color: $color15 !important;
  }
  &-c15 {
    color: $color15 !important;
  }
  &-c16 {
    color: $color17 !important;
  }
  &-c18 {
    color: $color18 !important;
  }
  &-c19 {
    color: $color19 !important;
  }
  &-c20 {
    color: $color20 !important;
  }
  &-c30 {
    color: $color30 !important;
  }
  &-c32 {
    color: $color30 !important;
  }
  &-c35 {
    color: $color30 !important;
  }
  &-c40 {
    color: $color12 !important;
  }
  &-c42 {
    color: $color15 !important;
  }
  &-c45 {
    color: $color15 !important;
  }
  &-c50 {
    color: $color19 !important;
  }

  // Font Variants
  &-thin {
    font-weight: 100 !important;
  }

  &-light {
    font-weight: 300 !important;
  }

  &-normal {
    font-weight: normal !important;
  }

  &-medium {
    font-weight: 500 !important;
  }

  &-semibold {
    font-weight: 600 !important;
  }

  &-bold {
    font-weight: bold !important;
  }

  &-extrabold {
    font-weight: 800 !important;
  }

  &-italic {
    font-style: italic !important;
  }

  &-uppercase {
    text-transform: uppercase !important;
  }

  &-notransform {
    text-transform: none !important;
  }
}
