// Image

.img {

  // Cover
  &-cover,
  &-cover-before:before,
  &-cover-after:after {
    object-fit: cover !important;
    object-position: center !important;
  }

  // Contain
  &-contain,
  &-contain-before:before,
  &-contain-after:after {
    object-fit: contain !important;
    object-position: center !important;
  }
}
