// Margin
.m {
  &-0 {
    margin: 0 !important;
  }

  // TOP
  &t {
    // Negative
    &-05 {
      margin-top: -5px !important;
    }

    // Positive
    &-5 {
      margin-top: 5px !important;
    }
    &-10 {
      margin-top: 10px !important;
    }
    &-15 {
      margin-top: 15px !important;
    }
    &-20 {
      margin-top: 20px !important;
    }
    &-25 {
      margin-top: 25px !important;
    }
    &-30 {
      margin-top: 30px !important;
    }
    &-35 {
      margin-top: 35px !important;
    }
    &-40 {
      margin-top: 40px !important;
    }
    &-60 {
      margin-top: 60px !important;
    }
  }

  // BOTTOM
  &b {
    // Negative
    &-05 {
      margin-bottom: -5px !important;
    }

    // Positive
    &-0 {
      margin-bottom: 0 !important;
    }
    &-5 {
      margin-bottom: 5px !important;
    }
    &-10 {
      margin-bottom: 10px !important;
    }
    &-15 {
      margin-bottom: 15px !important;
    }
    &-20 {
      margin-bottom: 20px !important;
    }
    &-25 {
      margin-bottom: 25px !important;
    }
    &-30 {
      margin-bottom: 30px !important;
    }
    &-40 {
      margin-bottom: 40px !important;
    }
    &-60 {
      margin-bottom: 60px !important;
    }
  }

  // RIGHT
  &r {
    &-0 {
      margin-right: 0 !important;
    }
  }

  // LEFT
  &l {
    &-0 {
      margin-left: 0 !important;
    }
  }
}

.mt-100{
  margin-top: 100px;
}
