// Z-Index
.z-index {
  &-0 {
    z-index: 0 !important;
  }
  &-10 {
    z-index: 10 !important;
  }
  &-50 {
    z-index: 50 !important;
  }
  &-100 {
    z-index: 100 !important;
  }
  &-1000 {
    z-index: 1000 !important;
  }
  &-2000 {
    z-index: 2000 !important;
  }
  &-5000 {
    z-index: 5000 !important;
  }
  &-9999 {
    z-index: 9999 !important;
  }
}
