/**
* Animations
*/

// Menu
@include media("<desktop") {
    .js-header .js-menu {
        // Close
        //transform: translateY(-100%);
        //opacity: 0;
        transition: opacity 0.4s 0.2s ease, transform 0s 0.6s ease;

        // Open
        &.-open {
            transform: translateY(0%);
            transition: opacity 0.4s linear;
            opacity: 1;

            .list.-menu {
                .item {
                    .link {
                        opacity: 0;
                        animation: appearDisappear linear 0.4s forwards;
                    }
                    // Delay items
                    &:nth-of-type(1) .link {
                        animation-delay: 0.4s;
                    }
                    &:nth-of-type(2) .link {
                        animation-delay: 0.46s;
                    }
                    &:nth-of-type(3) .link {
                        animation-delay: 0.54s;
                    }
                    &:nth-of-type(4) .link {
                        animation-delay: 0.62s;
                    }
                    &:nth-of-type(5) .link {
                        animation-delay: 0.7s;
                    }
                    &:nth-of-type(6) .link {
                        animation-delay: 0.78s;
                    }
                    &:nth-of-type(7) .link {
                        animation-delay: 0.86s;
                    }
                    &:nth-of-type(8) .link {
                        animation-delay: 0.94s;
                    }
                    &:nth-of-type(9) .link {
                        animation-delay: 1.02s;
                    }
                }
            }
        }
    }
}

// Anim appear/disappear
@keyframes appearDisappear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

// Anim pulse
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba($whatsapp, 1);
    }
    70% {
        box-shadow: 0 0 0 10px rgba($whatsapp, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba($whatsapp, 0);
    }
}

// Anim progress
@keyframes progress {
    0% {
        transform-origin: 100% 50%;
        transform: scaleX(1);
    }
    45% {
        transform-origin: 100% 50%;
        transform: scaleX(0);
    }
    55% {
        transform-origin: 0% 50%;
        transform: scaleX(0);
    }
    100% {
        transform-origin: 0% 50%;
        transform: scaleX(1);
    }
}

@keyframes shakeHorizontal {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes shakeVertical {
    0% {
        transform: translateY(0);
    }
    80% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes loading {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
