// Box loading
.box-loading {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    &:before {
        content: "";
        position: absolute;
        // background-color: rgba($color19, 0.9);
        background-color: transparent;
        opacity: 1;
        width: 100%;
        height: 100%;
        z-index: 9998;
    }

    &:after {
        content: "";
        width: 50px;
        height: 50px;
        display: block;
        border-radius: 50%;
        border: 8px solid $color20;
        border-left-color: transparent;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 9999;
        animation: loading 1.5s linear infinite;
    }
}

@keyframes loading {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
