.btn{
    display: block;
    outline: none;
    padding: 8px 16px;
    text-decoration: none;
    text-transform: uppercase;
    max-width: max-content;
    border-radius: 3px; 
    font-size: 14px;
    transition: all 0.4s ease;

    &:hover{
        opacity: .7;       
    }
    
    &.-light{
        background-color: $color10;
        color: $color11;       
    }
    
    &.-dark{
        background-color: $color11;
        color: $color10;       
    }
    
    &.-blue{
        background-color: $color12;
        color: $color10;       
    }
    
    &.-center{
        margin-left: auto;
        margin-right: auto;     
    }
}
