.card{
    width: 100%;
    position: relative;

    .img{
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
        transition: all 0.4s ease;
    }

    &.-schedule{
        border-radius: 3px;
        overflow: hidden;
        box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12), 0px 18px 88px -4px rgba(24, 39, 75, 0.14);

        @media (max-width: 991.98px) { 
            margin-bottom: 30px;
        }

        .card-header{
            background-color: $color12;
            color: $color10;
            padding: 10px 15px;
            h4{
                display: block;
                text-align: center;
                font-weight: bold;
                @include font-scale(14px, 18px);
            }
        }

        .card-body{
            background-color: $color10;
            padding: 10px 15px;            
            p{
                display: block;
                text-align: center;
                color: $color11;
                @include font-scale(14px, 16px);
                font-weight: 500;
            }
            span{
                display: block;
                text-align: center;
                color: $color12;
                @include font-scale(12px, 14px);
                font-weight: 500;
            }
        }

        &.-dark{
            .card-header{
                background-color: $color11;
                color: $color10;
            }
        }
    }

    &.-inline{
        overflow: hidden;
        border-radius: 3px;

        &:before{
            content: "";
            @include absolute;
            z-index: 2;

            background-color: rgba($color11, .5);
            transition: all 0.4s ease-in-out;
        }

        .link{
            @include absolute;
            z-index: 4;
        }

        .img{
            transition: all 0.4s ease-in-out;
        }

        .content{
            @include absolute;
            z-index: 3;

            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            padding: 30px 15px;

            .date{
                color: $color10;
                font-size: 12px;
                font-weight: bold;
            }
            .title{
                font-size: 18px;  
                margin: 10px 0 0 0;              
            }
        }

        &:hover{
            &::before{
                background-color: rgba($color11, .7);
            }

            .img{
                transform: scale(1.3);
            }
        }

        &.-sty2{
            .content{    
                padding: 30px;

                justify-content: center;
    
                .date{
                    font-size: 16px;
                }
                .title{
                    font-size: 22px; 
                    margin: 0;                               
                }
                .description{
                    margin: 30px 0;
                }  
            }

            @media (max-width: 991.98px) { 
                .content{
                    align-items: center; 
                    text-align: center; 
                }
            }
        }
    }

    &.-podcast{
        .embed-responsive{
            &::before{
                padding-top: 232px;
            }
        }
    }
}
