.filters{
    margin-bottom: 30px;

    .flex{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .radio-custom{
            position: relative;
            border: 1px solid $color11;
            border-radius: 3px;
            margin: 4px 8px;
            
            input{
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                cursor: pointer;
                opacity: 0;

                &:checked + span{
                    background-color: $color11;
                    color: $color10;
                }
            }
            span{
                display: block;
                padding: 8px 12px;
                color: $color11;
            }
        }
    }
}
