/* Footer */
.footer {
    width: 100%;
    padding: 40px 0;
    background-color: #4F74B6;

    .top{
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 991.98px) { 
            flex-direction: column;
            align-items: center;

            .logo{
                margin-bottom: 30px
            }
        }

        .menu-footer{
            list-style: none;
            display: flex;
            margin: 0;
            padding: 0;            

            li{
                a{
                    display: block;
                    margin-left: 15px;
                    text-transform: uppercase;
                    color: $color10;

                    &:hover{
                        text-decoration: underline;
                    }
                }

                &.dropdown{
                    .dropdown-menu{
                        a{
                            color: $color11;
                            margin-left:0;
                        }
                    }
                    
                }
            }

            @media (max-width: 767.98px) { 
                flex-direction: column;
                align-items: center;

                li{
                    a{
                        margin: 0;
                        padding: 10px;
                    }
                }
            }
        }
    }

    .bottom{
        display: flex;
        align-items: center;
        justify-content: space-between;

        margin-top: 40px;

        address{
            color: $color10;
        }
        .social{
            list-style: none;
            display: flex;
            margin: 0;
            padding: 0;

            li{
                a{
                    display: block;
                    margin-left: 10px;
                    color: $color10;
                    font-size: 22px;
                }
            }
        }

        @media (max-width: 767.98px) { 
            flex-direction: column;
            align-items: center;

            .social{
                order: 0;
                margin-bottom: 30px;
                justify-content: center;

                li{
                    a{
                        margin: 0 5px;
                    }
                }
            }
            address{
                order: 1;
                text-align: center;
            }
        }
    }
}
