.form{
    width: 100%;
    input,
    textarea{
        width: 100%;
        height: 50px;
        color: $color11;
        background-color: $color13;
        border: 1px solid $color14;
        padding-left: 10px;
        outline: none;
        border-radius: 0;

        &:focus{
            color: $color11;
            background-color: $color13;
            border: 1px solid $color11;
        }

        &::placeholder{
            color: $color11;
            font-size: 14px;
        }
    }

    textarea{
        height: 120px;
    }

    .btn{
        height: 50px;
        min-width: 200px;
    }

    .selectric {
        height: 50px;
        background: $color13;
        border-color: $color14;
        .button,
        .label{
            height: 50px;
        }
        .label{
            line-height: 50px;
            font-size: 16px;
            color: $color11;
        }                
    }

    .selectric-items{
        background: $color13;
        border-color: $color14;
        li{
            font-size: 16px;
            color: $color11;
            &:hover{
                background-color: $color11;
                color: $color10;
            }
        }
        li.highlighted{
            background-color: $color11;
            color: $color10;
        }
    }
    
}
