// Header

.header{
    position: absolute;
    width: 100%;
    padding: 40px 0 0 0;
    z-index: 999;

    &.-rel{
        position: relative;
        background-color: $color11;
        padding: 30px 0;
    }

    .hamburger{
        outline: none!important;
        position: relative;
        z-index: 10;
        @media (min-width: 992px) {
            display: none!important;
        }
    }

    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
