.list{

    &.-social{
        margin: 0;
        padding: 0;
        list-style: none;
        li{
            float: left;
            a{
                display: block;
                padding: 10px;
                .fa-1x{
                    font-size: 24px;
                }
                &:hover{
                    opacity: .7;
                }
            }
        }
    }
}