// Loading
.loading {
    position: relative;
    margin: 2px 10px;
    &:after {
        content: "";
        width: 18px;
        height: 18px;
        display: block;
        border-radius: 50%;
        border: 2px solid $color10;
        border-left-color: transparent;
        z-index: 10;
        animation: loading 0.6s linear infinite;
    }
}
