.nav{
    @media (min-width: 992px) {                 
        display: block!important;
        height: auto!important;
    }

    .menu{
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;

        li{
            @media (min-width: 992px) {                 
                opacity: 1!important;
            }
            margin-left: 16px;
            @media (max-width: 991.98px) {                 
                margin-left: 0;
                width: 100%;
                text-align: center
            }
            a{
                display: block;
                color: $color10;
                text-transform: uppercase;
                font-weight: bold;

                &:hover{
                    opacity: 0.7;
                }
            }

            &.dropdown{
                position: relative;
                z-index: 5;
            }

            .dropdown-menu{
                top: 10px!important;
                a{
                    color: $color11;
                    font-size: 14px;
                    padding: 12px;
                    &:hover{
                        background-color: $color11;
                        color: $color10;
                        opacity: 1;
                    }
                }

                @media (max-width: 991.98px) {                 
                    top: 100%!important;
                    width: 80%;
                    left: 50%!important;
                    transform: translateX(-50%)!important;
                    a{
                        padding: 12px 32px;
                        text-align: center;
                    }
                }
            }
        }
    }

    @media (max-width: 991.98px) {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba($color11, .8);
        z-index: 5;

        .menu{
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
            li{
                a{
                    color: $color10;
                    font-size: 22px;
                    font-weight: bold;
                    padding: 8px;
                }
            }
        }
    }

}
