// Modal
.modal {
    .modal-dialog {
        padding-top: 50px;
    }
    .modal-content {
        z-index: 999;
        .close {
            background-color: $color11;
            color: $color10;
            border: 0;
            position: absolute;
            top: -10px;
            right: -10px;
            width: 40px;
            height: 40px;
            outline: none;
            border-radius: 50%;
            z-index: 99;
        }
    }
}
