// Page Loading
.page-loading {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    min-height: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: $color12;

    .loading {
        margin-top: 60px;
        position: relative;
        width: 40px;
        height: 40px;
        &:before {
            content: "";
            background-color: transparent;
            opacity: 1;
            width: 100%;
            height: 100%;
        }

        &:after {
            content: "";
            width: 30px;
            height: 30px;
            display: block;
            border-radius: 50%;
            border: 3px solid $color20;
            border-left-color: transparent;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            animation: loading 0.6s linear infinite;
        }
    }
}
