// Pagination

.pagination {
	margin: 60px 0 0 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	list-style: none;
	@include media("<tablet") {
		margin-top: 20px;
	}
	.page-item {
		margin: 0 5px;

		.page-link {
			color: $color10;
			border: 0;
			background-color: #BFBFBF;
			font-size: 14px;
			border-radius: 3px;
			font-weight: bold;
			width: 53px;
			height: 43px;
			display: flex;
			align-items: center;
			justify-content: center;
			line-height: 1;

			&:hover,
			&:focus {
				box-shadow: none;
				background-color: $color11;
			}
		}
		&.-active {
			.page-link {
				background-color: $color11;
			}
		}
	}
}
