.share{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    li{
        a{
            color: $color11;
            font-size: 24px;
            padding: 10px
        }
    }
}
