// Slide

.slide{

    &.--intro{
        
        .slide-pagination{
            display: block;
            bottom: inherit;
            left: inherit;
            width: 100%;
            margin-top: 30px;

            .swiper-pagination-bullet{
                border-radius: 0;
                width: 44px;
                height: 6px;
                background-color: $color11!important;
                opacity: .3;
            }
            .swiper-pagination-bullet-active{
                opacity: 1;
            }
        }
    }

    &.--events{
        .slide-pagination{
            display: flex;
            align-items: flex;
            justify-content: center;
            bottom: inherit;
            left: inherit;
            width: 100%;
            margin-top: 30px;

            .swiper-pagination-bullet{                
                width: 16px;
                height: 16px;
                background-color: $color11!important;
                opacity: .3;
            }
            .swiper-pagination-bullet-active{
                opacity: 1;
            }
        }    
    }
}
