p.description{
    font-size: 18px;
    color: $color11;
    margin-bottom: 32px;
    font-weight: 500;

    &.-light{
        color: $color10;
    }
}

.hat{
    display: block;
    color: $color12;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 10px;

    &.-center{
        text-align: center;
    }
    
    &.-light{
        color: $color10;
    }
    
    &.-dark{
        color: $color11;
    }
}

article{
    .description{
        h1,
        h2,
        h3,
        h4,
        h5,
        h6{
            color: $color12;
            margin-bottom: 30px;
        }

        $values: (1: 30px, 2: 24px, 3: 20px, 4: 18px, 5: 16px, 6: 14px);

        @each $type, $size in $values {
            h-#{$type}{
                font-size: $size;
            }
        }

        p{
            line-height: 210%;
            margin-bottom: 30px;
            color: $color12;
        }
    }
}
