.title{
    font-weight: bold;
    margin-bottom: 30px;
    color: $color11;

    &.-light{
        color: $color10;
    }
    
    &.-blue{
        color: $color12;
    }

    &.-center{
        display: block;
        text-align: center;
    }
    
    &.-sec{
        font-weight: 500;
        color: $color12;
        @include font-scale(18px, 32px);
    }

    &.-lg{
        @include font-scale(32px, 42px);
    }
    &.-md{
        @include font-scale(22px, 28px);
    }
    &.-sm{
        @include font-scale(16px, 22px);
    }
    &.-xs{
        @include font-scale(14px, 18px);
    }
}
