/* Reset */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,500&display=swap');

@viewport {
  width: device-width;
}

body,
.body {
  background-color: $color10;
  color: $color11;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow-x: hidden;
  overflow-y: auto;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
  opacity: 1;
  transition: all .4s ease;

  &.-open {
    overflow-y: hidden;
  }

  &::before{
    //display: none;
    opacity: 0;
    visibility: hidden;
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color10, .95);
    transition: all .4s ease;
    z-index: 99999;
  }

}

.body-menu-open{
  overflow-y: hidden;
}

.is-transition{
  // transform: translateY(-50px);
  // opacity: 0;

  &::before{
    opacity: 1;
    visibility: visible;
  }
}

#nprogress {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999999;
}

main {
    &.-videos{
        background-color: $color11;
    }
}

a,
button,
input[type="button"] {
  transition: all 0.4s ease;
}

a,
a[href^="tel"],
a[href^="email"] {
  color: inherit;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

textarea {
  resize: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

address {
  margin: 0;
}

figure {
  margin: 0;
}

.whatsapp{
	text-decoration: none;
	outline: none;
	color: $color11;
	display: flex;
	align-items: center;
	font-size: 14px;
	.fa-1x{
		margin-right: 10px;
		color: $color11;
		font-size: 32px;
	}
	span{
		text-transform: uppercase;
		font-weight: bold;
	}
	&:hover{
		opacity: .7;
	}
	@include media("<desktop") {
		display: none;
	}
}

@media (max-width: 991.98px) { 
    .-desktop{
        display: none!important;
    }
}

@media (min-width: 992px) { 
    .-mobile{
        display: none!important;
    }
}

.bold{
    font-weight: bold!important;
}
