/* Colors */
$color10: #ffffff;
$color11: #000;
$color12: #5893FF;
$color13: #F3F5F7;
$color14: #CDCDCD;

$color15: #7d7d7d;
$color16: #8935D3;
$color17: #8E8E8E;
$color18: #FAFAFA;
$color19: #F4F4F4;
$color20: #DDDDDD;

$color21: #AFACAC;
$color22: #2D9C94;

$color30: purple;
$color40: #04c8a5;
$color60: #e95060;
$color61: #767C8F;

$success: #27ae60;
$danger: #f44336;
$warning: #ffc107;
$info: #03a9f4;

$facebook: #39579b;
$twitter: #588dc9;
$instagram: #8a3ab9;
$youtube: #bb0000;
$google: #dd4b39;
$linkedin: #0079b8;
$whatsapp: #4dc247;
