$backdrop-opacity: 0.8 !default;
$lg-toolbar-bg: transparent !default;
$lg-border-radius-base: 3px !default;
$lg-theme-highlight: #e95060 !default;
$lg-theme: #000 !default;

// basic icon colours
$lg-icon-bg: rgba(#000, 0.2) !default;
$lg-icon-color: #fff !default;
$lg-icon-hover-color: rgba(#fff, 0.8) !default;

// counter
$lg-counter-color: $lg-icon-color !default;
$lg-counter-font-size: 16px !default;

// Next prev icons
$lg-next-prev-bg: $lg-icon-bg !default;
$lg-next-prev-color: $lg-icon-color !default;
$lg-next-prev-hover-color: $lg-icon-hover-color !default;

// toolbar icons
$lg-toolbar-icon-color: $lg-icon-color !default;
$lg-toolbar-icon-hover-color: $lg-icon-hover-color !default;

// autoplay progress bar
$lg-progress-bar-bg: darken(#333333, 10%) !default;
$lg-progress-bar-active-bg: $lg-theme-highlight !default;
$lg-progress-bar-height: 5px !default;

// paths
$lg-path-fonts: "/fonts/lightgallery" !default;
$lg-path-images: "/images/lightgallery" !default;

// Zoom plugin
$zoom-transition-duration: 0.2s !default;

// Sub html - titile
$lg-sub-html-bg: $lg-icon-bg !default;
$lg-sub-html-color: #ffff !default;

// thumbnail toggle button
$lg-thumb-toggle-bg: #0d0a0a !default;
$lg-thumb-toggle-color: $lg-icon-color !default;
$lg-thumb-toggle-hover-color: $lg-icon-hover-color !default;
$lg-thumb-bg: #0d0a0a !default;

// z-index
$zindex-outer: 1050 !default;
$zindex-progressbar: 1083 !default;
$zindex-controls: 1080 !default;
$zindex-toolbar: 1082 !default;
$zindex-subhtml: 1080 !default;
$zindex-thumbnail: 1080 !default;
$zindex-pager: 1080 !default;
$zindex-playbutton: 1080 !default;
$zindex-item: 1060 !default;
$zindex-backdrop: 1040 !default;

.lg {
  .lg-toolbar {
    @include media(">desktop") {
      padding: 20px 60px 0;
    }

    .lg-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      background-color: rgba(#000, 0.2);

      @include media("<phone") {
        width: 45px;
        height: 42px;
      }

      &:first-of-type {
        border-radius: 0 3px 3px 0;
        @include media("<desktop") {
          border-radius: 0;
        }
      }
      &:last-of-type {
        border-radius: 3px 0 0 3px;
        @include media("<desktop") {
          border-radius: 0 0 0 3px;
        }
      }

      &.lg-flip-ver,
      &.lg-flip-hor,
      &.lg-rotate-left,
      &.lg-rotate-right{
        display: none!important;
      }

    }

    #lg-counter {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      width: 50px;
      border-radius: 3px;
      height: 47px;
      letter-spacing: 1px;
      background-color: rgba(#000, 0.2);
      @include media("<desktop") {
        border-radius: 0 0 3px 0;
      }
      @include media("<phone") {
        width: 45px;
        height: 42px;
      }
    }
  }

  .lg-actions {
    @include media(">desktop") {
      .lg-prev {
        left: 60px;
      }

      .lg-next {
        right: 60px;
      }
    }

    .lg-icon {
      font-family: $iconfont!important;;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 53px;
      height: 50px;
      font-size: 36px;
      @include media("<phone") {
        width: 45px;
        height: 42px;
        font-size: 30px;
      }

      &.lg-prev {
        //transform: rotate(180deg);
      }

      &.lg-prev::after {
        content: "f";
      }

      &.lg-next::before {
        content: "d";
      }
    }
  }
}
