/* Typography */

$iconfont: "site-campanha";
$lightgallery: "lg";
$airbnb: "Airbnb Cereal App";

/* Icons */
@include font-face(
  $iconfont,
  "../fonts/iconfont/#{$iconfont}",
  normal,
  normal,
  eot woff ttf svg
);

/* Lightgallery */
@include font-face(
  $lightgallery,
  "../fonts/lightgallery/#{$lightgallery}",
  normal,
  normal,
  eot woff ttf svg
);

@include font-face(
  $airbnb,
  "../fonts/airbnb/AirbnbCerealApp-Bold",
  bold,
  normal,
  woff woff2
);

@include font-face(
  $airbnb,
  "../fonts/airbnb/AirbnbCerealApp-Medium",
  500,
  normal,
  woff woff2
);

@include font-face(
  $airbnb,
  "../fonts/airbnb/AirbnbCerealApp-Book",
  normal,
  normal,
  woff woff2
);

@include font-face(
  $airbnb,
  "../fonts/airbnb/AirbnbCerealApp-Light",
  300,
  normal,
  woff woff2
);

// Font sizes
$f-70: 120px;
$f60: 100px;
$f50: 86px;
$f40: 60px;
$f30: 50px;
$f20: 42px;
$f18: 38px;
$f17: 36px;
$f15: 35px;
$f12: 32px;
$f10: 30px;
$f9: 24px;
$f8: 20px;
$f7: 18px;
$f6: 16px;
$f5: 15px;
$f4: 14px;
$f3: 12px;
$f2: 11px;
$f1: 10px;
$f0: 8px;
