@mixin transitions_cubic($time) {
    transition: all $time cubic-bezier(0.86, 0, 0.07, 1);
    /* easeInOutQuint */
}

@mixin transitions($time) {
    transition: all $time ease-in-out;
}

@mixin absolute() {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

@mixin gradient(){
    background: linear-gradient(270deg, #8935D3 0%, #00CFFF 100%);
}

@mixin shadow(){
    box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12), 0px 18px 88px -4px rgba(24, 39, 75, 0.14);
}

@mixin scale($scale) {
    transform: scale($scale);
}

@mixin placeholder {
    &::-webkit-input-placeholder {
        @content;
        @include transitions(0.4s);
    }
}
