/* Section */
.section {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding: 50px 0;
    @include media("<phone") {
        padding: 35px 0;
    }

    .s-header,
    .s-content {
        position: relative;
        width: 100%;
    }

    .s-header {
    }

    .s-title {
        @include font-scale($f15, $f20);
    }

    // Variants

    &.-intro {
        min-height: 100vh;
        padding: 0;
        overflow: hidden;

        .slide-item{
            position: relative;
            &::before {
                content: "";
                background-color: rgba($color11, 0.4);
                @include absolute;
                z-index: 2;
            }
        }

        .bg-img{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
            object-position: center;
            z-index: 1;
        }

        .container {
            position: relative;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            z-index: 3;
        }

        .title{
            margin-bottom: 24px;
        }
        
        p.description{
            margin-bottom: 60px;
        }
    }

    &.-about-home{
        .box{
            width: 45%;

            .img{
                width: 100%;
            }
        }

        .content{
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;

            display: flex;
            align-items: center;
        }

        @media (max-width: 991.98px) {                 
            display: flex;
            flex-direction: column;

            .content{
                order: 1;
                position: relative;

                .hat,
                .title,
                .description{
                    text-align: center;
                }

                .btn{
                    margin: 0 auto;
                }
            }
            .box{
                order: 2;
                width: 100%;
                margin-top: 60px;
            }
        }
    }

    &.-schedule{
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;

        padding-top: 160px;
        padding-bottom: 0;

        .s-header{
            margin-bottom: 60px;
        }

        .frame-live{
            width: 100%;
            margin-top: 100px;
            
            .frame-title{
                text-align: center;
                span{
                    display: block;
                    color: $color10;
                    font-size: 14px;
                    margin-bottom: 10px;
                }
                h3{
                    display: block;
                    color: $color10;
                    font-size: 18px;
                    font-weight: bold;
                    margin-bottom: 40px;
                }
            }

            .frame-video{
                position: relative;
                .play{
                    position: absolute;
                    width: 40px;
                    height: 40px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    transition: all 0.4s ease;

                    .bx{
                        color: $color10;
                        font-size: 60px;
                        display: flex;
                    }

                    &:hover{
                        transform: translate(-50%, -50%) scale(1.3);
                    }
                }
                img{
                    width: 100%;
                    border-radius: 3px;
                }
            }
        }

        .s-footer{
            background-color: $color12;
            padding: 160px 0 50px 0;
            margin-top: -75px;

            .flex{
                display: flex;
                align-items: center;
                justify-content: center;
                span{
                    color: $color10;
                    text-transform: uppercase;
                    font-size: 14px;
                    font-weight: bold;
                }
                a{
                    font-size: 45px;
                    color: $color10;
                    margin-left: 15px;
                    .bx{
                        display: flex;
                    }

                    &:hover{
                        color: darken($color12, 15%);
                    }
                }
            }
        }
    }

    &.-events{        
        .btn.-center{
            margin-top: 30px;
        }
    }

    &.-volunteer{
        position: relative;
        background-color: $color12;

        .container{
            position: relative;
            z-index: 2;
        }

        .col-lg-5{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        @media (max-width: 991.98px) { 
            .col-lg-5{
                text-align: center;
                align-items: center;

                .btn{
                    margin-bottom: 60px;
                }
            }

            &::after{
                content: "";
                position: absolute;
                width: 100%;
                height: 20%;
                background-color: $color10;
                left:0;
                bottom: 0;
                z-index: 1;
            }
        }
    }

    &.-newsletter{
        background-color: $color11;
        .form{
            display: flex;
            align-items: center;
            justify-content: center;

            .form-group{
                margin: 10px;
                max-width: 360px;
                input{
                    border-radius: 3px;
                    border: 0;
                }
            }
        }

        @media (max-width: 767.98px) { 
            .form{
                flex-direction: column;
                align-items: center;

                .form-group{
                    width: 100%;
                    max-width: 100%;

                    input{
                        text-align: center;                        
                        &::placeholder{
                            text-align: center;
                        }
                    }
                }

                .btn{
                    max-width: 100%;
                    width: 100%;
                    margin-top: 15px;
                }
            }
        }
    }

    &.-hero-int{
        padding: 200px 0 150px 0;

        .background{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;            
            z-index: 1;

            .img{
                object-fit: cover;
                object-position: center;
                width: 100%;
                height: 100%;
            }
        }

        .container{
            position: relative;
            z-index: 2;
            display: flex;
            flex-direction: column;
            align-items: center;

            .title,
            .description{
                text-align: center;
            }

            .description{
                margin: 0;
            }
        }
    }

    &.-about-box{

        .container{
            position: relative;
            z-index: 2;
        }

        &.-negative-margin{
            
            &:after{
                position: absolute;
                content: "";
                width: 100%;
                height: 20%;
                bottom: 0;
                left: 0;
                background-color: $color13;
                z-index: 1;
            }

        }

        .img{
            width: 100%;
            border-radius: 3px;
        }

        .flex{
            display: flex;
            flex-direction: column;
            justify-content: center;

            .description{
                margin: 0;
            }
        }

        @media (max-width: 991.98px) { 
            .col-lg-5{
                order: 1;
            }
            .flex{
                order: 0;
                margin-bottom: 30px;
                text-align: center;
                align-items: center;
            }
        }

    }

    &.-ministry-box{
        background-color: $color13;
    
        .btn{
            margin-top: 40px;
        }

        .js-gallery-photo{
            cursor: pointer;
        }
    }

    &.-schedule-sec{

        .col-lg-4{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .flex{
            display: flex;
            flex-wrap: wrap;

            justify-content: space-between;

            .card{
                width: calc(50% - 15px);
                margin-bottom: 30px;
            }
        }

        .mosaic{
            width: 100%;
            margin-top: 50px;
        }

        @media (max-width: 991.98px) { 
            .title{
                display: block;
                text-align: center;
            }
            address{
                display: block;
                text-align: center;
                margin-bottom: 30px;
            }
        }
    }

    &.-contact-box{
        background-color: $color13;

        .col-lg-5{
            display: flex;
            flex-direction: column;
            justify-content: center;

            @media (max-width: 991.98px) { 
                align-items: center;
                text-align: center;

                ul{
                    justify-content: center
                }
            }
        }

        .form{
            background-color: $color10;
            padding: 30px;
            @include shadow;

            @media (max-width: 991.98px) { 
                margin-bottom: 30px;

                .btn{
                    width: 100%;
                    max-width: 100%
                }
            }
        }

        .box{
            width: 100%;
            span{
                display: block;
                margin-bottom: 10px;
                .bx{
                    margin-right: 15px;
                }
            }

            ul{
                margin-top: 30px;
                li{
                    &:first-child{
                        a{
                            padding-left: 0;
                        }
                    }
                }
            }
        }
    }

    &.-list-cards{
        .card{
            margin-bottom: 30px;
        }
    }

    &.-event{
        &.-event-hero{

            .container{
                position: relative;
                z-index: 2;

                .title{
                    margin: 0;
                    padding: 60px 0;
                }
            }

            .background{
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;            
                z-index: 1;
                    
                .img{
                    object-fit: cover;
                    object-position: center;
                    width: 100%;
                    height: 100%;
                    border-radius: 3px;
                }
            }
        }

        &.-event-info{

            @media (min-width: 992px) { 
                .col-lg-7{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                }
            }

            @media (max-width: 767.98px) { 

                &::before{
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: -85%;
                    background-color: #F3F5F7;
                }

                .col-lg-4{
                    background-color: #F3F5F7;
                }

                .col-lg-7{
                    display: flex;
                    flex-direction: column;

                    .flex{ 
                        order: 0; 
                        background-color: #F3F5F7;
                        position: relative;
                        &::before{
                            content: "";
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            left: -100%;
                            top: 0;
                            background-color: #F3F5F7;
                        }
                        &::after{
                            content: "";
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            right: -100%;
                            top: 0;
                            background-color: #F3F5F7;
                        }
                    }
                    .title{ order: 1; }
                    .description{ order: 2; }
                    .btn{ 
                        order: 3; 
                        max-width: 100%;
                        width: 100%;
                    }
                }

                h1.title{
                    font-size: 32px;
                }

                h3.title{
                    font-size: 18px;
                    margin-top: 30px;
                }
            }
            
            .img{
                width: 100%;
                @media (max-width: 991.98px) { 
                    margin: 0 auto 30px;
                    display: block;
                    max-width: 450px;
                }
                @media (max-width: 575px) { 
                    max-width: 100%;
                }
            }

            .flex{
                display: flex;
                justify-content: space-between;
                @media (max-width: 575px) { 
                    flex-direction: column;   
                    align-items: flex-start                 
                }

                .box{
                    display: flex;
                    align-items: center;
                    width: calc(50% - 15px);

                    @media (max-width:575px) { 
                        margin-bottom: 30px;
                    }
                    
                    img{
                        margin-right: 10px;
                        width: 20px;                       
                    }
                    span{
                        display: block;

                        &:first-child{
                            font-weight: bold;
                        }

                        @media (max-width: 991.98px) { 
                            text-align: left;
                        }
                    }
                }
            }

            .btn{
                margin-top: 30px;
            }
        }
    }

}
